apiVersion: v1
kind: Service 
metadata:
  name: frontend-service
  labels:
    app: myapp  
spec:
  selector:
    app: myapp  
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer  
---

